.env
.gitattributes
*.db*
*.log*
*database*

/backup

# /compose
/config
# /config/authelia
# /config/bazarr
# /config/deluge
# /config/grafana
# /config/heimdall
# /config/influxdb
# /config/jackett
# /config/letsencrypt
# /config/mariadb
# /config/nextcloud
# /config/nginx
# /config/ombi
# /config/phpmyadmin
# /config/plex
# /config/portainer
# /config/prometheus
# /config/qbittorrent
# /config/radarr
# /config/sonarr
# /config/tasmoadmin
# /config/tautulli
# /config/telegraf
# /config/traefik
# /config/traefik/letsencrypt
# /config/transmission

/secrets
/System*
